%html
  %head
    %meta(charset="utf-8")
    / %title= @title
    %link(href="/css/bootstrap.min.css" rel="stylesheet" media="screen")
    %link(href="/css/style.css" rel="stylesheet" media="screen")
  %body
    %script(src="/js/jquery-2.1.0.min.js")
    / = user_logged? ? (haml :logged_navigation_bar) : (haml :not_logged_navigation_bar)
    / = @hero_chosen
    / = @hero
    - if @hero_chosen
      %script(src="/js/town.js")
      :javascript
        var chosenHeroId = '#{@hero["_id"]}'
      %aside.span4{style:"border:solid 2px"}
        .row.text-center
          %h1
            #{@hero['name']}
        %img{class:'', src: "/images/heroes_images/#{@hero['properties']['image']}", width: '300px', style:'float:left;height:300px'}
        .heroView
          .row.text-center
            %h3
              #{@hero['properties']['rasse'].capitalize} #{@hero['properties']['class'].capitalize}
            %h4
              Level #{@hero['properties']['level']}
            .col-xs-3.centered
              %strong{style:"color:#00FF00"}
                Health: #{@hero['properties']['current_health']}/#{@hero['properties']['max_health']}
              .col-xs-3.centered
                -case @hero['properties']['class']
                  -when 'warrior'
                    %strong{style:"color:#FF0000"}
                      Rage: #{@hero['properties']['current_rage']}/#{@hero['properties']['max_rage']}
                  -when 'mage'
                    %strong{style:"color:#0000FF"}
                      Mana: #{@hero['properties']['current_mana']}/#{@hero['properties']['max_mana']}
                  -when 'hinter'
                    %strong{style:"color:#0000FF"}
                      Focus: #{@hero['properties']['current_focus']}/#{@hero['properties']['max_focus']}
                  -when 'rouge'
                    %strong{style:"color:yellow"}
                      current_energy: #{@hero['properties']['current_energy']}/#{@hero['properties']['max_energy']}
            .col-xs-3.centered
              %h3
                Stats:
              %h4  
                .row
                  Strength: #{@hero['properties']['strength']}
                .row
                  Dextirity: #{@hero['properties']['dexterity']}
                .row
                  Speed: #{@hero['properties']['speed']}
                .row
                  Intelligence: #{@hero['properties']['intelligence']}
            .row
              %button{id:'other_hero', class:'bnt btn-success', style:'margin-left'} Another Hero
              %button{id:'edit_hero', class:'bnt btn-success'} Edit Hero
        .row.text-center.editView{style:'display:none'}
          .alert.alert-success.span3{id:'unused_skill_points', style:'margin-left:30px'}
            %h4
              You have #{@hero['properties']['unused_skill_points']} skill points
          .row
            .form-group
              %label{ for: "more_strength" } 
                Strenght:
              %input.form-control{ id: "more_strength", min:"#{@hero['properties']['strength']}", value:"#{@hero['properties']['strength']}" , type: "number", name: "strength", style:'width:50px;height:30px'}
          .row
            .form-group
              %label{ for: "more_dexterity" } Dextirity:
              %input.form-control{ id:"more_dexterity", min:"#{@hero['properties']['dexterity']}", value:"#{@hero['properties']['dexterity']}" , type: "number", name: "dexterity", style:'width:50px;height:30px'}
          .row
            .form-group
              %label{ for: "more_speed" } Speed:
              %input.form-control{ id:"more_speed", min:"#{@hero['properties']['dexterity']}", value:"#{@hero['properties']['dexterity']}" , type: "number", name: "dexterity", style:'width:50px;height:30px'}
          .row
            .form-group
              %label{ for: "more_intelligence" } Intelligence:
              %input.form-control{ id:"more_intelligence", min:"#{@hero['properties']['intelligence']}", value:"#{@hero['properties']['intelligence']}" , type: "number", name: "dexterity", style:'width:50px;height:30px'}        
          .row
            %button.btn.btn-success{id:"back_to_hero_view", type: "" } Back
            %button.btn.btn-success{id:"change_saver", type: "" } Save Changes

    = yield

    %script(src="/js/bootstrap.min.js")
