%html
  %head
    %meta(charset="utf-8")
    / %title= @title
    %link(href="/css/bootstrap.min.css" rel="stylesheet" media="screen")
    %link(href="/css/style.css" rel="stylesheet" media="screen")
  %body
    %script(src="/js/jquery-2.1.0.min.js")
   
    - if @hero_chosen
      %script(src="/js/town.js")
      :javascript
        var chosenHeroId = '#{@hero["_id"]}'
      %aside.span4{style:"border:solid 2px"}
        .row.text-center
          %h1
            #{@hero['name']}
        %img{class:'', src: "/images/heroes_images/#{@hero['properties']['image']}", width: '300px', style:'float:left;height:300px'}
        .heroView
          .row.text-center
            %h3
              #{@hero['properties']['rasse'].capitalize} #{@hero['properties']['class'].capitalize}
            %h4
              Level #{@hero['properties']['level']}
            .col-xs-3.centered
              %strong{style:"color:#00FF00"}
                Health: #{@hero['properties']['current_health']}/#{@hero['properties']['max_health']}
              .col-xs-3.centered
                -case @hero['properties']['class']
                  -when 'warrior'
                    %strong{style:"color:#FF0000"}
                      Rage: #{@hero['properties']['current_rage']}/#{@hero['properties']['max_rage']}
                  -when 'mage'
                    %strong{style:"color:#0000FF"}
                      Mana: #{@hero['properties']['current_mana']}/#{@hero['properties']['max_mana']}
                  -when 'hinter'
                    %strong{style:"color:#0000FF"}
                      Focus: #{@hero['properties']['current_focus']}/#{@hero['properties']['max_focus']}
                  -when 'rouge'
                    %strong{style:"color:yellow"}
                      current_energy: #{@hero['properties']['current_energy']}/#{@hero['properties']['max_energy']}
            .col-xs-3.centered
              %h3
                Stats:
              %h4  
                .row
                  Strength: #{@hero['properties']['strength']}
                .row
                  Dextirity: #{@hero['properties']['dexterity']}
                .row
                  Speed: #{@hero['properties']['speed']}
                .row
                  Intelligence: #{@hero['properties']['intelligence']}
            .row
              %button{id:'other_hero', class:'bnt btn-success', style:'margin-left'} Another Hero
              %button{id:'edit_hero', class:'bnt btn-success'} Edit Hero
        .row.text-center.editView{style:'display:none'}
          %header{style:"margin-left:20px"}
            %ul{id:'udateNavigator', class:"nav nav-tabs"}
              %li{:data => {:for => ".statsUpdates"}  ,class:"active"}
                %a Stats
              %li{:data => {:for => ".offensive"}}
                %a Offensive
              %li{:data => {:for => ".defencive"}}
                %a Defencive
          
          .offensive{style:"display:none"}
            .alert.alert-success.span3{id:'unused_skill_points', style:'margin-left:30px;'}
              %h4
                You have #{@hero['properties']['unused_magic_points']} magic points
            - @hero['offensive_improvements'].keys.each do |key|
              -if key != 'points'
                .form-group
                  %label{for: "#{key}"}
                    #{key}
                  #{@hero['offensive_improvements']['points'][key]} +
                  %input.span1{type:'number',class:"offensive_input", id:"#{key}", min:0, max:"#{@hero['properties']['unused_magic_points']}" ,value:0, title:"#{key}", style:'height:30px'}
          .defencive{style:"display:none"}
            .alert.alert-success.span3{id:'unused_skill_points', style:'margin-left:30px'}
              %h4
                You have #{@hero['properties']['unused_magic_points']} magic points
            - @hero['defencive_improvements'].keys.each do |key|
              -if key != 'points'
                .form-group
                  %label{for: "#{key}"}
                    #{key}
                  #{@hero['defencive_improvements']['points'][key]} +
                  %input.span1{type:'number', class:"defencive_input", id:"#{key}", min:0, title:"#{key}", max:"#{@hero['properties']['unused_magic_points']}", value:0, style:'height:30px'}        
              / style:"height:50px;background-image:url(../images/hero_creating/edit_magic/#{key}.jpg);background-repeat:no-repeat;"
          .statsUpdates
            .alert.alert-success.span3{id:'unused_skill_points', style:'margin-left:30px'}
              %h4
                You have #{@hero['properties']['unused_skill_points']} skill points
            .row
              .form-group
                %label{ for: "more_strength" } 
                  Strenght:
                #{@hero['properties']['strength']} +
                %input.form-control{ id: "more_strength", min:0, max:"#{@hero['properties']['unused_skill_points']}", type: "number", value:0, name: "strength", style:'width:50px;height:30px'}
            .row
              .form-group
                %label{ for: "more_dexterity" } 
                  Dexterity:
                #{@hero['properties']['dexterity']} +
                %input.form-control{ id: "more_dexterity", min:0, max:"#{@hero['properties']['unused_skill_points']}", type: "number", value:0, name: "dexterity", style:'width:50px;height:30px'}
            .row
              .form-group
                %label{ for: "more_speed" } 
                  Speed:
                #{@hero['properties']['speed']} +
                %input.form-control{ id: "more_speed", min:0, max:"#{@hero['properties']['unused_skill_points']}", type: "number", value:0, name: "speed", style:'width:50px;height:30px'}
            .row
              .form-group
                %label{ for: "more_intelligence" } 
                  Intelligence:
                #{@hero['properties']['intelligence']} +
                %input.form-control{ id: "more_intelligence", min:0, max:"#{@hero['properties']['unused_skill_points']}", type: "number", value:0, name: "intelligence", style:'width:50px;height:30px'}
            .row
          %button.btn.btn-success{id:"back_to_hero_view", type: "" } Back
          %button.btn.btn-success{id:"change_saver", type: "" } Save Changes
    = yield

    %script(src="/js/bootstrap.min.js")
